shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true

@outloud:registry=https://git.outloud.dev/api/v4/projects/242/packages/npm/
//git.outloud.dev/api/v4/projects/242/packages/npm/:_authToken=${NPM_OUTLOUD_TOKEN}
